body {
	height: 100vh;
}

.nav-link a {
	padding: 4px;
}

.main {
	height: calc(100% - 50px);
	display: flex;
}

.sidebar {
	background-color: rgb(18, 18, 78);
}

.main-content {
	flex-grow: 1;
	background-color: white;
}

.main-head {
	background-color: blue;
	color: white;
}

.box {
	min-width: 200px;
	min-height: 80px;
	line-height: 80px;
	border: 2px solid red;
}

.bord {
	background-color: rgb(13, 13, 176);
	/* min-width: 20px;
	min-height: 20px; */
	line-height: 20px;
	border-radius: 20px;
	padding: 4px;
}

.main .sidebar i {
	font-size: 20px;
}
